# Copied 3D asset gltf directories (source of truth at project root)
KayKit_*/
Pirate Kit - Nov 2023/
Toon Shooter Game Kit - Dec 2022/
Ultimate Animated Character Pack - Nov 2019/
Ultimate Monsters/
Ultimate Space Kit - March 2023/
brackeys_vfx_bundle/
